@charset "UTF-8";

.imgarea{
	position: relative;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	
}

.allinput {
	position: absolute; /* 添加绝对定位 */
	font-size: 25px;
	margin: 0 auto;
	left: 9%; /* 相对于父元素左侧对齐 */
	top: 40%; /* 相对于父元素顶部对齐 */

}
.png{
	 /* 添加绝对定位 */
	width: 650px;
	height: 350px;
	position: absolute;
	top: 3%;
	left: 12%;
}
.sub{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 20%;
}
.sub2{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 70%;
}

.back{
	font-size: 20px;
	position: absolute;
	top: 60%;
	left: 43%;
}
